<h3>Fresh fruits and vegetables</h3>
<br>
    <div class="row pull-right">
        <div class="col-xs-12">
            <label for="search">Search: </label>
            <input id="search" type="text" ng-model="search" />
        </div>
    </div>
<br>
<br>
<div id="toast" class="alert-success" style="display:none">
    Product added to the cart.
</div>
<div class="item_list" ng-repeat="item in items | filter:search">
    <div class="row product">
        <div class="col-xs-12">
            {{item.name}} &nbsp;&nbsp;  ${{item.price}}
            <br>
            <span class="desc">{{item.desc}}</span>
            <span class="pull-right">
                Qty: <input id="{{item.id}}_order_qty" type="number" min="0" max="{{item.avail_qty}}" />
                <input id="addToCart" type="button" class="btn btn-primary" ng-click="addToCart(item.id)" value="Add to cart" />
            </span>
        </div>
    </div>
</div>