<h3>Fresh fruits and vegetables</h3>
<br>
    <div class="row pull-right">
        <div class="col-md-12">
            <label for="search">Search: </label>
            <input id="search" type="text" ng-model="search" />
        </div>
    </div>
<br>
<br>
<div ng-repeat="item in items | filter:search">
    <div class="row product">
        <div class="col-md-12">
            {{item.name}}
            ${{item.price}}
            Qty: <input id="{{item.id}}_order_qty" type="number" min="0" max="{{item.avail_qty}}" />
            <input type="button" ng-click="addToCart(item.id)" value="Add to cart" />
        </div>
    </div>
</div>